body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.logo {
    font-size: 28px;
    color: #6a98cc;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

span {
    color: #b7d9ff;
}

a {
    text-decoration: none;
}

nav {
    background-color: #2D3C4D;
}


.nav--container a {
    color: #b7d9ff;
    font-weight: 600;
    font-size: 20px;
}

.nav--container a:hover {
    color: white;
}

.footer {
    color: #b7d9ff;
    background-color: #2D3C4D;
    padding: 5rem; /* Adjust padding as needed */
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.385); /* Optional: Add shadow effect */
}

